@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74185061');
  src: url('../font/fontello.eot?74185061#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?74185061') format('woff2'),
       url('../font/fontello.woff?74185061') format('woff'),
       url('../font/fontello.ttf?74185061') format('truetype'),
       url('../font/fontello.svg?74185061#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74185061#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-play:before { content: '\e800'; } /* '' */
.icon-play-circled2:before { content: '\e801'; } /* '' */
.icon-stop:before { content: '\e802'; } /* '' */
.icon-pause:before { content: '\e803'; } /* '' */
.icon-to-end:before { content: '\e804'; } /* '' */
.icon-to-end-alt:before { content: '\e805'; } /* '' */
.icon-to-start:before { content: '\e806'; } /* '' */
.icon-to-start-alt:before { content: '\e807'; } /* '' */
.icon-fast-bw:before { content: '\e808'; } /* '' */
.icon-eject:before { content: '\e809'; } /* '' */
.icon-fast-fw:before { content: '\e80a'; } /* '' */
.icon-folder-open:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-wrench:before { content: '\e80d'; } /* '' */
.icon-basket:before { content: '\e80e'; } /* '' */
.icon-login:before { content: '\e80f'; } /* '' */
.icon-logout:before { content: '\e810'; } /* '' */
.icon-headphones:before { content: '\e811'; } /* '' */
.icon-clock:before { content: '\e812'; } /* '' */
.icon-pencil:before { content: '\e813'; } /* '' */
.icon-edit:before { content: '\e814'; } /* '' */
.icon-trash-empty:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-upload:before { content: '\e817'; } /* '' */
.icon-picture:before { content: '\e818'; } /* '' */
.icon-camera:before { content: '\e819'; } /* '' */
.icon-plus:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-eye:before { content: '\e81c'; } /* '' */
.icon-eye-off:before { content: '\e81d'; } /* '' */
.icon-location:before { content: '\e81e'; } /* '' */
.icon-down-open:before { content: '\e81f'; } /* '' */
.icon-left-open:before { content: '\e820'; } /* '' */
.icon-right-open:before { content: '\e821'; } /* '' */
.icon-up-open:before { content: '\e822'; } /* '' */
.icon-down-dir:before { content: '\e823'; } /* '' */
.icon-left-dir:before { content: '\e824'; } /* '' */
.icon-right-dir:before { content: '\e825'; } /* '' */
.icon-up-dir:before { content: '\e826'; } /* '' */
.icon-gauge:before { content: '\e827'; } /* '' */
.icon-music:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-home:before { content: '\e82a'; } /* '' */
.icon-link:before { content: '\e82b'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gauge-1:before { content: '\f0e4'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
